<ons-page>
    <ons-toolbar>
        <div class="center">無限プチプチ</div>
        <div class="right">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div style="text-align: center">
        <!-- 画面上部：プチプチアニメーション表示領域 -->
        <div style="text-align: center">
            <h1>無限プチプチ</h1>
            <ons-button ng-click="app.slidingMenu.toggleMenu()">
                Open Menu
            </ons-button>

            <p> Click "Toggle Menu" to close/open menu, </p>
        </div>
        <!-- 画面中央：プチプチボタン配置領域 -->
        <div id="bubbleBtnArea" >
            <!-- １段目 -->
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <!-- ２段目 -->
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <!-- ３段目 -->
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <!-- ４段目 -->
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
            <ons-button class="bubbleBtn" onclick="IB.addCounter()"></ons-button>
        </div>

        <!-- 画面中央・下部との仕切り線 -->
        <div id="divLine">
            <hr>
        </div>

        <!-- 画面下部：プチプチボタンカウンター配置領域 -->
        <div id="bubbleCounterArea" >

            <!--<ons-button onclick="IB.flikerController()">
                click me !
            </ons-button>-->

            <span id="counterDisplay">0</span>

            <!-- カウンター数表示 -->
            <div id="bubbleCounterPanel">
                <!-- ７桁目 -->
                <div id="counterPart7" class="counterPart"><p id="counterPartP7">0</p></div>
                <!-- コンマ -->
                <div class="counterPartComma"><p>,</p></div>
                <!-- ６～４桁目 -->
                <div id="counterPart6" class="counterPart"><p id="counterPartP6">0</p></div>
                <div id="counterPart5" class="counterPart"><p id="counterPartP5">0</p></div>
                <div id="counterPart4" class="counterPart"><p id="counterPartP4">0</p></div>
                <!-- コンマ -->
                <div class="counterPartComma"><p>,</p></div>
                <!-- ３～１桁目 -->
                <div id="counterPart3" class="counterPart"><p id="counterPartP3">0</p></div>
                <div id="counterPart2" class="counterPart"><p id="counterPartP2">0</p></div>
                <div id="counterPart1" class="counterPart"><p id="counterPartP1">0</p></div>
            </div>
        </div>
    </div>
</ons-page>