<ons-page>
    <ons-toolbar>
        <div class="center">無限プチプチ</div>
        <div class="right">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div style="text-align: center">
        <!-- 画面上部：プチプチアニメーション表示領域 -->
        <div style="text-align: center">
            <h1>無限プチプチ</h1>
            <ons-button ng-click="app.slidingMenu.toggleMenu()">
                Open Menu
            </ons-button>

            <p> Click "Toggle Menu" to close/open menu, </p>

            <br /><br /><br />
        </div>
        <!-- 画面中央：プチプチボタン配置領域 -->
        <div style="text-align: center; width:100%; height: 300px; padding-left:2px; padding-top:10px; background-color: rgb(0, 255, 144);">
            <!-- １段目 -->
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <!-- ２段目 -->
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <!-- ３段目 -->
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <!-- ４段目 -->
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
            <ons-button style="border-radius: 50px; width: 50px; height:50px; margin:2px;" onclick=""></ons-button>
        </div>
        <!-- 画面下部：プチプチボタンカウンター配置領域 -->
        <div style="text-align: center; width:100%; height: 60px; position:absolute; bottom: 0px; background-color: rgb(0, 200, 130);">
            <ons-button onclick="FlikerController()">
                click me !
            </ons-button>
        </div>
    </div>
</ons-page>