<ons-page ng-controller="RegisterHumanController as rh_ctrl">
    <ons-toolbar>
        <div class="center">人登録</div>
        <div class="right">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div style="text-align: center">
        <h1>人登録</h1>
        <form ng-submit="rh_ctrl.submit()">
            <div class="form-group">
                <label for="registname">名前</label>
                <input type="text" class="form-control" id="registname" placeholder="登録したい名前を入力" ng-model="rh_ctrl.registname">
            </div>
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>
</ons-page>