<ons-page ng-controller="RegisterHumanController as rh_ctrl">
    <ons-toolbar>
        <div class="center">人登録</div>
        <div class="right">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div style="text-align: center">
        <h1>人登録</h1>
        <p><input class="text-input" type="text" placeholder="登録したい人名を入力" ng-model="rh_ctrl.registname" float></input></p>
        <p><ons-button ng-click="rh_ctrl.submit()">登録</ons-button></p>
        <p><span>すでに登録されている名前</span>
        <ons-list>
            <ons-list-item ng-repeat="person in rh_ctrl.person">{{person}}</ons-list-item>
        </ons-list></p>
    </div>
</ons-page>