<ons-page ng-controller="ShowRecordController as sr_ctrl">
    <ons-toolbar>
        <div class="center">記録確認</div>
        <div class="right">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div style="text-align: center">
        <h1>記録確認</h1>
        <ons-button ng-click="dialog2.show()">人を選択</ons-button>
        <ons-dialog var="dialog2" cancelable>
            <ons-list ng-controller="SelectPersonDialogContralloer as spd_ctrl">
                <ons-list-item ng-repeat="(person, data) in sr_ctrl.datahash" modifier="tappable">
                    <div ng-click="spd_ctrl.select(person);dialog2.hide()">{{ person }}</div>
                </ons-list-item>
            </ons-list>
        </ons-dialog>
        <ons-list>
            <ons-list-item ng-repeat="(word, data) in sr_ctrl.wordlist">{{word}}:{{data.count}}回</ons-list-item>
        </ons-list>
    </div>
</ons-page>