body {
}

/* 画面中央：プチプチボタン配置領域 */
#bubbleBtnArea{
    text-align: center;
    width: 100%;
    height: 60%; 
    padding-left: 1%; 
    padding-top: 5%; 
    background-color: rgba(0, 255, 144, 0.4);
}

/* ボタンデザイン */
.bubbleBtn{
    border-radius: 50px; 
    width: 50px; 
    height: 50px; 
    margin: 2px;
    border: 2px #444444 solid;
}

/* 仕切り線 */
#divLine{
    width: 90%;
    height: 5%;
    margin-left: 5%;
    background-color: rgba(0,0,0,0.1);
}

/* プチプチカウンター表示領域 */
#bubbleCounterArea{
    text-align: center; 
    width:100%; 
    height: 20%; 
    position:absolute; 
    background-color: rgba(0, 255, 144, 0.6);
}

#bubbleCounterPanel{
    width: 100%;
    height: 45%;
    background-color: rgba(0,0,0,0.2);
}

.counterPart{
    display: inline-block;
    width: 9%;
    height: 80%;
    font-size: 23px;
    border: 2px #444444 solid;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.2);    
}
.counterPart p{
    margin-top: 40%;
}
.counterPartComma{
    display: inline-block;
    width: 9%;
    height: 80%;
    background-color: rgba(0,0,0,0);
}